<newnav></newnav>
<slider></slider>


<!DOCTYPE html>
<html lang="en">

<body>
    <div class="form-container">
        <h2>Delete Book</h2>
        <form action="" method="post">
           
            <div class="form-group">
             
                <input id="book_title" type="text" name="book_title" #txt1 placeholder="Enter book_title">
            </div>
           
            
            <button type="button" class="btn btn-primary" (click)="onsubmit(txt1.value)">Submit</button>
        </form>
    </div>
</body>
</html>

  

